#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
Dear ${symbol_dollar}jossoUser.name,

Here is the new password you requested : ${symbol_dollar}jossoClearPassword.

To activate it please follow the link bellow:

${symbol_dollar}jossoConfirmUrl
    


     